<h1>New Recipe</h1>

<%= form_tag "/recipes", method: :post do %>
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Chef: <input type="text" name="chef">
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients">
  </div>
  <div>
    Directions: <input type="text" name="directions">
  </div>
  <input type="submit" value="Create Recipe">

<% end %>