$primary-color: orange;
h1 {
  background-color: $primary-color;
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
    }

h2 {
  color: $primary-color;
    }

body {
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  background-image: url('green_dust.png');
      }



.well {
  height: 600px;
}