<!DOCTYPE html>
<html>
  <head>
    <title>CookbookApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/recipes/new">New Recipe</a>
    <%= yield %>
  </body>
</html>
